.under-dev-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  color: black;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  text-align: center;
}

.typing-text {
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #00ffea;
  width: 0;
  animation: typing 7s steps(22) 1s infinite, blink 0.6s infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 22ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.subtext {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.6;
}
