.under-dev-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

.typing-text {
  font-size: 3vw;
  font-weight: bold;
  color: #3b82f6;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #3b82f6;
  width: 0ch;
  animation: typing 4s steps(22) 1s infinite alternate,
    blink 0.7s step-end infinite;
}

.subtext {
  margin-top: 1rem;
  font-size: 1.5vw;
  color: #555;
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 22ch;
  }
  100% {
    width: 0ch;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #3b82f6;
  }
}

@media (max-width: 768px) {
  .typing-text {
    font-size: 6vw;
  }

  .subtext {
    font-size: 4vw;
  }
}

@media (max-width: 480px) {
  .typing-text {
    font-size: 7vw;
  }

  .subtext {
    font-size: 5vw;
  }
}
