@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow {
  box-shadow: 0.1px 0.1px 6px rgba(0, 0, 0, 0.259);
}
table,
th,
tr,
td {
  border: 1px solid white;
}

.box-shadow-2 {
  box-shadow: 0.2px 0.2px 0.2px 1px #ed563d;
}
.img-2 {
  background-image: url("https://images.unsplash.com/photo-1605296867724-fa87a8ef53fd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: -100px 1px;
  background-size: cover;
}
/* Custom Toast Styling */
@media (max-width: 768px) {
  .Toastify__toast-container {
    width: 90% !important;
    left: 5% !important;
  }
}
.br {
  border-right: 0.5px;
  border-right-style: solid;
  border-right-color: rgb(214, 210, 210);
  box-shadow: 1px 1px 10px rgb(190, 189, 189);
}
.cardShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.24) 0px -3px 8px;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.sidebar-items {
  transform: translateX(-300px);
  opacity: 0;
  animation: slideInLeft 0.5s ease-out forwards;
}

.dashboard-card {
  opacity: 0;
  animation: dashboardCard 0.5s ease-out forwards;
}
@keyframes dashboardCard {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
